.header {
    padding: 4rem 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 6rem;
    display: flex;
    gap: 1rem;
}

.tile {
    width: 8rem;
    height: 8rem;
    display: inline-block;
    border-radius: 1rem;
    text-align: center;
}