:root {
  --background: #fefefe;
  --blue-gray: #E2E8F0;
  --dark: #1d1d1d;
  --blue: #003DA5;
  --yellow: #FCE300;
  --red: #EF3340;
  --white: #ffffff;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: 4px;
}

body {
  background-color: var(--background);
  font-size: 4rem;
  color: var(--dark);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-family-nunito);
}

.hit {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0 1px 0 rgba(0, 45, 120, 0.48);
}

.close {
  background-color: var(--yellow);
  box-shadow: 0 1px 0 rgba(201, 181, 0, 0.48);
}

.miss {
  background-color: var(--red);
  box-shadow: 0 1px 0 rgba(178, 32, 42, 0.48);
}